html, body{
	font-size:16px;
	color: #dfdfdf;
	background-color: #1e1e1e; 
}

a {
  color: #3794ff;
   padding: 3px;
}
h3
{
	
	font-size:33px;
}
container-1
{
  width: 50%;
  margin-left: auto;
  margin-right: auto;
}
a:hover {
  color: #00d1b2;
}

section{
	padding-top: 3rem;
	padding-bottom: 3rem;
}

.section-1 {
	background: #252527;
	
	
}

.section-2 {
	background-color: BLACK;

}

.section-3 {
	background-color: #0E282E;
}

.section-4 {
	background-color: black;
	padding: 0.2rem;
}

a.nav-item {
	color: #dfdfdf;
}

a.nav-item:hover {
	color: #fff;
}

.avatar{
	height:100px;
	
}

.intro-description{
	padding-top: 1rem;
}

.social-container img{
	max-width:100%;
	max-height:175px;
	margin-bottom:15px;
}

.project-figure {
	margin: 0 auto 1rem auto;
	max-height: 256px;
	max-width: 256px;
}

.project-text {
	text-align: justify;
}

.box {
	background-color: transparent;
	border: 2px solid rgba(245, 229, 27, 1);
}

.title {
	color: #fff;
	text-align: left;
	margin-bottom: 2rem;
}

.intro {
	text-align: justify;
	width: 80%;
	margin: 0 auto;
}

.void-background {
	background-color: #333333; 
}

@media screen and (max-width: 768px) {
	.nav-menu {
		background-color: #063647;
	}

	.nav-toggle:hover {
		background-color: transparent;
	}

	.nav-toggle span {
		background-color: #dfdfdf;
	}

	.nav-toggle span:hover {
		background-color: #fff;
	}

}



input[type=text] {
    background-color: #3c3c3c;
	border:  1px solid yellow;
    color: white; 
    width: 28%;
    padding: 7px 7px;
    margin: 7px 7px;
    box-sizing: border-box;  
	-webkit-transition: width 0.5s ease-in-out;
    transition: width 0.5s ease-in-out;	
}

input[type=number] {
    background-color: #3c3c3c;
	border:  1px solid yellow;
    color: white; 
    width: 28%;
    padding: 5px 5px;
    margin: 7px 7px;
    box-sizing: border-box;  
	-webkit-transition: width 0.5s ease-in-out;
    transition: width 0.5s ease-in-out;	
}

input[type=text]:focus {
    background-color: #333333;
	border: 1px solid #3794ff;
	width: 34%;	
}

input[type=number]:focus {
    background-color: #333333;
	border: 1px solid #3794ff;
	width: 34%;	
} 



select {
    background-color: #3c3c3c;
	border:  1px solid yellow;
    color: white; 
    width: 28%;
    padding: 7px 7px;
    margin: 7px 7px;
    box-sizing: border-box;  
	-webkit-transition: width 0.5s ease-in-out;
    transition: width 0.5s ease-in-out;	 
}

select:focus{
    background-color: #333333;
	border: 1px solid #3794ff;
	
}



input[type=file] {
    background-color: #3c3c3c;
	border:  1px solid yellow;
    color: white; 
    width: 28%;
    padding: 5px 5px;
    margin: 7px 7px;
    box-sizing: border-box;  
	-webkit-transition: width 0.5s ease-in-out;
    transition: width 0.5s ease-in-out;	
}

input[type=file]:focus {
    background-color: #333333;
	border: 1px solid #3794ff;
	width: 34%;	
}





#Addbtn
{
  display: inline-block;
  border-radius: 5px;
  background :linear-gradient(to right,#534666,#CD7672);
  border: 1px solid #534666;
  color: #FFFFFF;
  text-align: center;
  font-size: 18px;
  padding: 10px;
  width: 100px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;  
}

#Addbtn span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

#Addbtn span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

#Addbtn:hover span {
  padding-right: 25px;
}

#Addbtn:hover span:after {
  opacity: 1;
  right: 0;
}




.centrer {
  text-align: center;
}

#content1 {
	float: left;
	width: 50%;
	background-color: transparent;
}
#content2 {
	float: left;
	width: 50%;
	
}


