html, body{
	font-size:16px;
	color: #dfdfdf;
	background-color: black; 
}

a {
  color:#bbbbbb;
  font-size:20px;
  
}
h3
{
	
	font-size:33px;
}
container-1
{
  width: 50%;
  margin-left: auto;
  margin-right: auto;
}
a:hover {
  color: #00d1b2;
}

section{
	padding-top: 3rem;
	padding-bottom: 3rem;
}

.section-1 {
	background: #252526;
	height:252px;
	
}

.section-2 {
	background-color: BLACK;

}

.section-3 {
	background-color: #1e1e1e;
	height:252px;
	
}

.section-4 {
	background-color: black;
	padding: 0.2rem;
}

a.nav-item {
	color: #dfdfdf;
}

a.nav-item:hover {
	color: #fff;
}

.avatar{
	height:220px;
	width:auto;
	
}

.centrer {
  position:relative;
  left:20px;
  bottom:32px;

}
.centrer1 {
  position:relative;
  right:10px;
  bottom:45px;

}

.intro-description{
	padding-top: 1rem;
}

.social-container img{
	max-width:100%;
	max-height:175px;
	margin-bottom:15px;
}

.project-figure {
	margin: 0 auto 1rem auto;
	max-height: 256px;
	max-width: 256px;
}

.project-text {
	text-align: justify;
}

.box {
	background-color: transparent;
	border: 2px solid rgba(245, 229, 27, 1);
}

.title {
	color: #fff;
	text-align: left;
	margin-bottom: 2rem;
}

.intro {
	text-align: justify;
	width: 80%;
	margin: 0 auto;
}

.void-background {
	background-color: #333333; 
}

@media screen and (max-width: 768px) {
	.nav-menu {
		background-color: #063647;
	}

	.nav-toggle:hover {
		background-color: transparent;
	}

	.nav-toggle span {
		background-color: #dfdfdf;
	}

	.nav-toggle span:hover {
		background-color: #fff;
	}

}



#content1 {
	float: left;
	width: 20%;
	height:auto;
	background-color: transparent;
}
#content2 {
	float: left;
	width: 40%;
	background-color: transparent;
}
#content3 {
	float: left;
	width: 40%;
	background-color: transparent;
}




table {
  
  font-family: arial, sans-serif;
  border-collapse: collapse;
  
}

td, th {
  
  color:#bbbbbb !important;
  text-align: left;
  padding: 8px;
}

